# Análise dos gastos com publicidade do GDF em 2018

In [2]:
import pandas as pd

In [16]:
# carregando o arquivo e transformando em dataframe
df = pd.read_csv('pagamento-publicidade-2018-dados-abertos-anual.csv', encoding='latin1', sep=';',
                usecols=[2,3,4,5,7,9,16,24], decimal=',')

In [9]:
df.head()

,Processo,Memo,Data,Serviço,Mídia,Tipo,Competência,Agência,NF,Subcontratado,...,ISS,Líquido,PP,Data Pagtº,RPP,RPNP,local,Data.1,Relatório,Campanha
0,194/17,19,19/01/2018,Veiculação,Jornal,Normal,jan/18,Desigual,1881,de Brasília,...,"56,63","7.099,26",70,21/02/2018,Não,Não,Coorfin,23/01/2018,14,Publicidade Legal
1,194/17,19,19/01/2018,Veiculação,Jornal,Normal,jan/18,Desigual,1882,de Brasília,...,"10,89","1.365,24",70,21/02/2018,Não,Não,Coorfin,23/01/2018,14,Publicidade Legal
2,194/17,19,19/01/2018,Veiculação,Jornal,Normal,jan/18,Desigual,1883,Correio Braziliense,...,"19,64","2.462,41",70,21/02/2018,Não,Não,Coorfin,23/01/2018,14,Publicidade Legal
3,194/17,19,19/01/2018,Veiculação,Jornal,Normal,jan/18,Desigual,1884,Correio Braziliense,...,"23,32","2.924,10",70,21/02/2018,Não,Não,Coorfin,23/01/2018,14,Publicidade Legal
4,194/17,19,19/01/2018,Veiculação,Jornal,Normal,jan/18,Desigual,1889,Correio Braziliense,...,"12,28","1.539,00",70,21/02/2018,Não,Não,Coorfin,23/01/2018,14,Publicidade Legal

In [14]:
#Verificando o head de forma transposta
df.head().T

,0,1,2,3,4
Data,19/01/2018,19/01/2018,19/01/2018,19/01/2018,19/01/2018
Serviço,Veiculação,Veiculação,Veiculação,Veiculação,Veiculação
Mídia,Jornal,Jornal,Jornal,Jornal,Jornal
Tipo,Normal,Normal,Normal,Normal,Normal
Agência,Desigual,Desigual,Desigual,Desigual,Desigual
Subcontratado,de Brasília,de Brasília,Correio Braziliense,Correio Braziliense,Correio Braziliense
Líquido,"7.099,26","1.365,24","2.462,41","2.924,10","1.539,00"
Campanha,Publicidade Legal,Publicidade Legal,Publicidade Legal,Publicidade Legal,Publicidade Legal

In [17]:
#verificando os tamanhos e tipos
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2690 entries, 0 to 2689
Data columns (total 8 columns):
Data             2690 non-null object
Serviço          2690 non-null object
Mídia            2690 non-null object
Tipo             2690 non-null object
Agência          2690 non-null object
Subcontratado    2690 non-null object
 Líquido         2690 non-null object
Campanha         2690 non-null object
dtypes: object(8)
memory usage: 168.2+ KB

In [19]:
df['Líquido'].max()

KeyError: 'Líquido'

In [22]:
#Alterando nome da coluna
df.rename(columns={df.columns[6]: 'liquido'}, inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2690 entries, 0 to 2689
Data columns (total 8 columns):
Data             2690 non-null object
Serviço          2690 non-null object
Mídia            2690 non-null object
Tipo             2690 non-null object
Agência          2690 non-null object
Subcontratado    2690 non-null object
liquido          2690 non-null object
Campanha         2690 non-null object
dtypes: object(8)
memory usage: 168.2+ KB

In [24]:
#Convertendo a coluna liquido para float
df['liquido'] = df['liquido'].astype(float)

ValueError: could not convert string to float: ' 7.099,26 '

In [33]:
#Tranformando a coluna antes de converter


#removendo espaços em branco
df['liquido'] = df['liquido'].str.strip()

#removendo pontos de milhar
df['liquido'] = df['liquido'].str.replace('.', '')

#trocando virgula por pontor
df['liquido'] = df['liquido'].str.replace(',', '.')

#Convertendo a coluna liquido para float
df['liquido'] = df['liquido'].astype(float)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2690 entries, 0 to 2689
Data columns (total 8 columns):
Data             2690 non-null object
Serviço          2690 non-null object
Mídia            2690 non-null object
Tipo             2690 non-null object
Agência          2690 non-null object
Subcontratado    2690 non-null object
liquido          2690 non-null float64
Campanha         2690 non-null object
dtypes: float64(1), object(7)
memory usage: 168.2+ KB

In [36]:
df['Serviço'].value_counts()

Veiculação    2522
Produção       168
Name: Serviço, dtype: int64

In [39]:
df['Mídia'].value_counts()

Jornal                1337
Rádio                  484
Internet               338
TV                     258
Alternativa             93
Entrega Digital         33
Spot                    17
Banner                  17
Filme                   16
Foto                    13
Cópia VT                13
Adserver                13
Revista                 11
Lonas                    7
Edição Filme             6
Programas de Rádio       6
Cartaz                   5
Pesquisa                 5
Adesivos                 4
Cachê                    3
Gifs                     3
Landing Page             2
Reedição Filme           1
Cinema                   1
Trilha Sonora            1
Folheto                  1
Mapa                     1
Ilustração               1
Name: Mídia, dtype: int64

In [40]:
#Verificar os pagamentos por gif

df[df['Mídia']=='Gifs']

,Data,Serviço,Mídia,Tipo,Agência,Subcontratado,liquido,Campanha
178,06/03/2018,Produção,Gifs,Normal,Propeg,VS Mídia,513000.0,Carnaval 2018
191,06/03/2018,Produção,Gifs,Normal,Propeg,GS Simões,256500.0,Rumo Certo 01
452,27/03/2018,Produção,Gifs,Normal,Propeg,Brasil Marketing,513000.0,Rumo Certo 02

In [42]:
#Verificar os pagamentos por landing page

df[df['Mídia']=='Landing Page']

,Data,Serviço,Mídia,Tipo,Agência,Subcontratado,liquido,Campanha
611,17/04/2018,Produção,Landing Page,Normal,Propeg,2 Mobile Marketing,1187500.0,Rumo Certo 03
2595,17/12/2018,Produção,Landing Page,Normal,Propeg,OOPX Tecnologia,7163000.0,Balanço Final

In [43]:
#Valor total pago com publicidade em 2018
df['liquido'].sum()

3958681801.0

In [44]:
#os 5 maiores gastos com publicidade

df.nlargest(5, 'liquido')

,Data,Serviço,Mídia,Tipo,Agência,Subcontratado,liquido,Campanha
2554,11/12/2018,Produção,Filme,Normal,Propeg,Plural Comunicação,75450000.0,Balanço Final
2674,28/12/2018,Veiculação,TV,Normal,Propeg,Globo,46138820.0,Balanço Final
847,11/05/2018,Produção,Filme,Normal,Propeg,Panorama Produções,43074250.0,Rumo Certo 02
808,07/05/2018,Produção,Filme,Normal,Binder,Buriti Filmes,42291000.0,Relatos 01
1234,13/06/2018,Veiculação,TV,Normal,Propeg,Record,42127699.0,Prestação de Contas 02

In [46]:
#Quanto a globo recebeu do GDF em 2018

df[df['Subcontratado'] == 'Globo']['liquido'].sum()

399071061.0